* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

header {
	background-color: #d9a1e3;
	text-align: center;
}

body {
    margin: 0px;
    font-family: Courier New, monospace;
    background-color: #ecc9f2;
    text-align: right;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}
ul {
	list-style-position: inside;
}
#inspiration {
    background-color: #c8afdb;
    padding-top: 40px;
    padding-bottom: 40px;
}